.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --c1: #334E58;
  --c2: #88292F;
  --c3: #A77464;
  --c4: #A27E8E;
  --c5: #A2A79E;
}

html,body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
  scroll-behavior: smooth;
}

body{
  background-color: var(--c3);
}

.navbar {
  background-color: var(--c1) !important;
}

.navbar-nav {
  float:none;
  margin:0 auto;
  display: block;
  text-align: center;
}

.navbar-nav > li {
  display: inline-block;
  float:none;
}

.card:hover {
  opacity: .5;
  cursor: pointer;
}

.navbar a {
  font-size: 60px;
  color: var(--c5) !important;
}

#header a:hover {
  color: rgba(255, 255, 255, 1) !important;
  box-shadow: 0 5px 15px var(--c2);
  cursor: pointer;
}

#header a:hover p{
  color: rgba(255, 255, 255, 1) !important;
}

/* #contactMe a:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px var(--c2);
} */

.navbar li {
  border-right: solid var(--c3) 1px;
}

/* #resume a {
  text-decoration: none;
  color: inherit;
} */

.mainSection {
  margin-top: 100px;
  color: var(--c1);
  /* min-height: 700px; */
  border: solid var(--c1) 5px;
}

.bio {
  font-weight: bold;
  font-size: 23px;
}

/* #contactSection a {
  text-decoration: none;
  color: inherit;
  font-size: 25px;
  font-weight: bold;
} */

.modal-content {
  background-color: var(--c2);
}

#modalTitle, #modalBody {
  color: white;
}

.card {
  background-color: #334E58;
  color:#A2A79E;
  font-weight: bold;
}

.card:hover {
  transform: scale(1.03);
}

.sectionTitle {
  font-size: 60px;
}

.footerLogo:hover {
  transform: scale(1.25);
}

#logoText {
  display: inline-block;
}

.footerLogo {
  height: 80px;
  width: 80px;
}

.stackLogo {
  height: 80px;
  width: 200px;
}

#footerLinks li {
  display: inline;
}

#selectedNav {
  color: white !important;
}

.cardImage {
  height: 200px;
  width: 24rem;
}

#modalBody img {
  width: 100%;
  height: auto;
}

.modalButton {
  background-color: white;
}

.modalButton:hover {
  transform: scale(1.1);
}